<div class = "artistshowcontainer">

<h1 class="artistshowname">All Artists</h1>


<% @artists.each do |artist|%>
<div class ="bordershowartist">
    <h3> <%= link_to artist.name, artist %> </h3> 
    <h3><%= image_tag artist.image, :class => "left" if artist.image.present?  %>
    <div class="righttext">  <a href=<%= artist.work %>><img class = "sociallogo" src="/assets/linktree.png" alt="linktreelogo"></a> |  
    <a href=<%= artist.social %>> <img class = "sociallogo" src="/assets/output-onlinepngtools.png" alt="instagramlogo"></a> 
 </div> </h3> 
    </div>
<% end%>


</div>


