
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200&family=Nova+Square&display=swap');

.gigs-index {
    /* background-color:  rgb(0, 0, 0); */
    /* border: 1px solid white; */
    opacity: 0.8;
    /* border: 3px solid rgb(219, 233, 239); */
    height: 250px;
    margin: 10px 0 40px;
    
    padding: 10px 30px 0 30px;
    border-radius: 20px;
    /* box-shadow: 0 5px 15px #fff000; */
}

/* .gigs-index:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 25px white;
} */

.backgroundimage {
  width: 150%;
  display: block;
  margin: 0 auto;
}


.homecontainer{
  max-width: 960px;;
  position: relative;
  text-align: center;
  color: white;
}

.btn-group button {
  background-color: #000000; /* Green background */
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  opacity: 0.8;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 60%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
    background-color: #13513e;
    
    font-family: 'Catamaran', sans-serif;

    color: white;

    
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

.container{
    margin: auto;
    width: 65%;
}

.feature {
    max-width: 40%;
    height: 40%;
    margin-top: 22px;
}

.gignameindex {
    margin: 0; 
    text-align: left;
    text-transform: uppercase;
}

.giginfoindex{
    display: grid;
    grid-template-columns: 4fr 2fr;
    /* height: 90% */
    max-width: 80%;
    height: auto;
}

.gigsdateindex{
    margin: 0;
    font-size: medium;
}

.artistimage{
    width: 15%;
}

.lineuptext{
    margin-bottom: 15px ;
    text-align: center;
    font-size: 10px;
}

.artistname{

    font-size: 150%;
    display: block;
    margin: 0;
}

.imagecontainer{
    position:relative;
    /* margin-right: 60%;
    margin-right: 40px; */
    margin: 0;
    max-width: 60%;
    height: auto;
}

.inlineindex{
  display: inline
}

.imagetext {
    position: relative;
    bottom: 20%;
    text-align: center;
    background-color: black;
    opacity: 0.6;
    color: white;
    z-index: 1;
  }

  .gigshowcontainer{
    margin: auto;
    width: 65%;
  }

  .indexcontainer{
    text-align: center;
    /* border-bottom: 1px solid white;
    border-top: 1px solid white; */
    border-width: auto;
    padding: 5px;
  }

/* .giglineupindex{
  position:relative;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-left: 2%;
  /* vertical-align: middle; */
    /* margin-right: 60%;
    margin-right: 40px;
    margin-bottom: 80%; */
    /* margin: 0 auto; */
    /* max-width: 100%;
} */ */

  .promoterlogoshow{
    width: 10%;
  }

  .gigsshowgrid{
    align-self: center;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    text-align: center;
    border: solid 1px white;
    width: 100%;
  }

.gigshowh1{
  text-align: center;
  border: solid 1px white;
  width: 105%;
}

  .gigshowimage{
    width: 105%;
  }

.ticketlogo{
    height: 10%;
}

.body{
    text-align: center;
  }
 
  .button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 60%;
    height: 10%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Nova Square', cursive;
  }
  
  .button-32:not(:disabled):hover,
  .button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
  
.rightnav{
    float: right;
}

.logoutbutton{
    float:right;
} 

.artistcontainerindex{
  color: aquamarine;
  display: inline
  /* display: grid;
  grid-template-columns: auto auto auto auto;
  width: 10%; */
} 

.usernav{
  float:right
}

.left {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  text-align: center;
}

.artistshowcontainer{
  background-color: #13513e;
    margin: 0 auto;
    width: 65%;
    align-items: center;
    display: grid;
    padding: 20px
}

.sociallogo{
  width: 30px;
}

.artistshowname{
  text-align: center;
}

.rightext{
  display: inline-block;
}

h3{
text-align: center;
}

.bordershowartist{
  border: 10px;
  color: white;
}

.bordershowartist {
  /* background-color:  rgba(184, 2, 208, 0.409); */
  border: rgba(184, 2, 208, 0.409); ;
  opacity: 0.8;
  /* border: 3px solid rgb(219, 233, 239); */
  height: 250px;
  margin: 20px 0;
  padding: 10px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

.bordershowartist:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  background-color: #0b2e23;
}

/* .artistshowcontainer:hover{
  color: rgb(255, 255, 255);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  background-color: rgb(58, 1, 55);
}  */

.submitbutton{
  color: rgb(124, 0, 112);
  text-align: center;
}

.formh1{
  text-align: center;
}

.ticketbuttonlink{
  color: black

}

.indexheader{
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.gigindexgenre{
  font-size: medium;
}